 /* mail list */

 h1 {
    color: red
 }

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* Style for the entire table */
 .mails-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
 }

 /* .mails-table *> {
    display: flex;
    justify-content: space-between;
    font-size: .875rem;
 } */

 /* td {
    padding: 0 1em;
 } */