.mail-index {
    display: grid;
    grid-template-columns: minmax(150px, 200px) 1fr;
    grid-template-areas:
        "logo filter"
        "nav-bar mails-list";
    /* "nav-bar mails-list"; */

    background-color: var(--mail-nav-bgc);
}

.logo {
    grid-area: logo;
    width: 109px;
    height: 40px
}

.filter {
    grid-area: filter;
}

.compose-btn {
    grid-area: compose-btn;
}

.nav-bar {
    grid-area: nav-bar;
    font-family: roboto;
    flex-direction: column;
}


.mails-list {
    grid-area: mails-list;
}