tr.unread-mail {
    font-weight: bold;
}

tr.unread-mail.subject {
    font-size: 0.875em;
}

tr.read-mail {
    background-color: #E6F1F2;
}

.mail-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    transition: background-color 0.3s ease;
    height: 20px;
}

.mail-preview:hover {
    cursor: pointer;
    background-color: #f4f4f4;
    scale: 1.02;
    cursor: pointer;

    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.mail-preview .from {
    flex: 1;
    margin-right: 10px;
}

.mail-preview .subject {
    flex: 2;
    margin-right: 10px;
}

.mail-preview .remove-btn-container {
    display: flex;
    justify-content: flex-end;
    flex: 0.2;
}

.remove-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 5px;
}

.remove-btn:hover {
    scale: 1.02;
}