.nav-bar {
    min-width: 238px;
    display: column;
}

.nav-bar .compose-btn {
    border-radius: 1em;
    background-color: var(--mail-btn-bgc);
    color: var(--black);
    height: 56px;
    padding-left: 8px;
    max-width: 125px;
    cursor: pointer;

    transition: box-shadow .08s linear, min-width .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-bar .compose-btn:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
}

.fa-solid {
    padding: 0.8em;
}

.nav-bar a {
    height: 32px;
}

.nav-bar a:hover {
    background-color: var(--mail-nav-hover);
    /* border-top-left-radius: 20px; */
    /* Top left corner */
    border-top-right-radius: 20px;
    /* Top right corner */
    border-bottom-right-radius: 20px;
    /* Bottom right corner */
    border-bottom-left-radius: 0;
    /* Bottom left corner */
}