.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 100px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    right: 20px;
    bottom: 10px;

    background-color: white;
    width: 510px;
    height: 385px;

    max-width: 100%;
    max-height: 100%;

    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* padding: 0 20px; */
}

.modal-header {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #F2F6FC;
}

.modal-header-txt {
    padding: 0 15px;
}

/* Input Fields */
.input-container {
    margin-bottom: 9px;
    border-bottom: 1px solid #ECEFF1;
    padding: 0 15px;

}

/* Label */
.input-container label {
    margin-bottom: 5px;
    font-size: .875rem;

    font-family: open-sans, sans-serif;
    /* font-weight: bold; */
}

/* Text Input */
.input-container input[name="subject"],
.input-container input[type="email"] {

    width: 100%;
    height: 2em;
    padding-left: 1em;

    border: 1px solid transparent;
    border-radius: 4px;
}


.input-container textarea {
    display: block;
    width: 100%;
    min-height: 220px;
    box-sizing: border-box;
    padding: 10px 15px;

    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f9fa;

    font-family: roboto;
    font-size: 1rem;
}

input:focus {
    outline: none;
}



/* Buttons */

.btn:hover {
    box-shadow: 0 1px 2px 0 rgba(26, 115, 232, 0.451), 0 1px 3px 1px rgba(26, 115, 232, 0.302);

}

.modal-close-btn {
    height: 1em;
    width: 1em;
    position: fixed;
    right: 38px;
    background-color: transparent;
    border: none;
}

.send-btn {
    position: fixed;
    bottom: 20px;
    padding: 8px 16px;
    margin-left: 15px;
    width: 88px;
    background-color: #0b57d0;
    /* Gmail's blue color */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}