:root {
    --black: #001D35;
    --white: #FFFFFF;
    --mail-nav-bgc: #F6F8FC;
    --mail-btn-bgc: #C2E7FF;
    --mail-nav-hover: #D3E3FD;
    --nxt-prv-hover: #F2F2F2;
    --modal-header: #F2F6FC;
    --input: #ECEFF1;
    --input-textarea: #f8f9fa;
    --sent-btn: #0b57d0;
    --filter-input: #EAF1FB;
}