* {
    box-sizing: border-box;
}

.note-container {
    padding: 15px;
    margin: auto;
    columns: 220px 4;
}

.note-display {
    position: relative;
    background-color: #fff;
    width: auto;
    height: 5em;
    border: 1px solid #e0e0e0;
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.5);
    padding: 2em;
    margin-bottom: 0.8em;
    border-radius: 0.5em;
}



.note-display .remove-btn {
    /* position: absolute;
    right: 0;
    top: 0; */
    border: transparent;
}