.note-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    font-family: open-sans;
}

.note-display {
    position: relative;
    width: 15em;
    height: auto;
    background-color: #ffffff;
    border-radius: 0.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    cursor: pointer;
    transition: transform 0.2s ease;
    min-height: 5em;
    max-height: 10em;
}



.note-display:hover {
    transform: translateY(-4px);

}

.note-title {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}

.note-btn{
 height: 16px;
 width: 16px;
 overflow: visible;
display: block;
 left: 0;
 bottom: -1.5em;
}

.note-display:hover.note-btn{
    display: block;

}

.note-display div {
    font-size: 0.9em;
    color: #666666;
}