.txt-input {
    display: flex;
    height: 42px;
    width: 450px;
    border-style: none;
    border-radius: 10px;
    background-color: #ededed;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #808080;
    padding-left: 40px;
    margin: 0 auto;
}

.new-note {
    display: inline-flex;
    justify-content: center;
    justify-items: center;
}

form {
    text-align: center;
    gap: 5px;
    margin-top: 0.5em;
}

.add-btn {
    width: 2em;
    height: 2em;
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-btn:hover {
    background-color: #f0f0f0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.add-btn i {
    font-size: 2em;
    color: #333;
}

i {
    font-size: 1.5em;
    /* Adjust icon size */
    color: #333;

}