@media (max-width: 850px) {

    .mail-preview {
        height: 80px;
    }

    .modal {
        flex-direction: column;
        left: 5px;
        top: 10px;

        background-color: white;
        width: auto;
        height: 385px;
    }

    .send-btn {
        bottom: 170px;
    }
}